{% extends 'app_home/layouts/layout_base.html' %}

{% block title %}Онлайн платформа торговой сети электроники{% endblock %}


{% block content %}

    <main>
        <div class="text-center m-4 p-3" style="background: #5DC8CD;">

            <h3 class="display-5">Онлайн платформа торговой сети электроники</h3>

        </div>
    </main>

{% endblock %}


{% block element %}

    <section class="container"  style="background: #C0C0C0;">
        <h1>Задача</h1>
    </section>

{% endblock %}

{% block blog %}

    <section class="container"  style="background: #708090;">
        <h1>Технические требования</h1>
    </section>

{% endblock %}
